@{
    var take = Model.Takes.ToArray()[ViewBag.Take];
    ViewData["Title"] = $"Review: {Model.Name}";
}

<div class="row">
    @foreach (var video in take.Media)
    {
        <div class="col-md-4 col-sm-6">
            <video data-dashjs-player controls src="@(video.Url + "/playback.mpd")"></video>
        </div>
    }
</div>

<script src="//cdn.dashjs.org/latest/dash.all.min.js"></script>